<launch>
  <!-- <rosparam file="$(find hba)/config/param.yaml" command="load" /> -->
  <rosparam file="$(find hba)/config/demo.yaml" command="load" />

  <node pkg="hba" type="visualize_map" name="visualize_map" output="screen" />

  <arg name="rviz" default="1"/>
  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find hba)/rviz_cfg/rosbag.rviz" />
  </group>
</launch>